system {
    threads-per-service 8
    daemonize #false 
    pid-file "/tmp/river.pidfile"
    upgrade-socket "/tmp/river-upgrade.sock"
}

definitions {
    plugins {
        plugin {
            name "example-filter"
            load url="https://github.com/Tam1SH/river/raw/refs/heads/main/source/river/assets/request_filter.wasm"
        }
    }
}

services {
    Example {
        listeners {
            "0.0.0.0:8080"
        }
        connectors {
            section "/" {
                return code="200" response="OK"
                filter {
                    
                }
            }
        }
    }
}