system {
    threads-per-service 8
    daemonize #false 
    pid-file "/tmp/motya.pidfile"
    upgrade-socket "/tmp/motya-upgrade.sock"
}

services {
    Example {
        listeners {
            "0.0.0.0:8080"
        }
        connectors {
            load-balance {
                selection "Ketama" {
                    key "${header_x-test}-${header_x-test2}"
                    
                    algorithm name="xxhash64"

                    transforms-order {
                        lowercase
                    }
                }
            }
            section "/balance" {
                proxy {
                    server "__PLACEHOLDER__1"
                    server "__PLACEHOLDER__2"
                    server "__PLACEHOLDER__3"
                }
            }
        }
    }
}